@import 'tailwindcss';

:root {
    --primary: #ffe390;
}

@theme inline {
    /* COLORS */
    --color-primary: var(--primary);

    /* FONTS */
    --font-daffiys: var(--font-daffiys);
    --font-mono: var(--font-geist-mono);
}

body {
}
