@import 'tailwindcss';

:root {
    --primary: #ffdb85;
    --primaryAccent: #b99e5d;
}

::selection {
    background: var(--color-primary);
    color: black;
    text-shadow: none;
}

@theme inline {
    /* COLORS */
    --color-primary: var(--primary);
    --color-primaryAccent: var(--primaryAccent);

    /* FONTS */
    --font-archivo: var(--font-archivo);
    --font-mono: var(--font-geist-mono);
    --font-superVibes: var(--font-superVibes);
}

/*LENIS*/

h1 {
    @apply text-2xl sm:text-3xl md:text-4xl font-bold;
}

h2 {
    @apply text-lg sm:text-xl md:text-2xl font-bold;
}

a {
    @apply hover:text-primary duration-200;
}

.pageWrapper {
    @apply pt-32 w-full px-4 sm:px-10;
}

/* Button */
.btnClickText1 {
    animation: tilt-n-move-shaking 2s infinite;
}

.btnClickText2 {
    animation: tilt-n-move-shaking 2s infinite;
    animation-delay: 0.2s;
}
.btnClickText3 {
    animation: tilt-n-move-shaking 2s infinite;
    animation-delay: 0.5s;
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* Basic animations */

.animate-fade-in-04 {
    animation: fade-in 0.2s ease-in forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

/* EMBLA Carousel */
.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
    /* @apply gap-4; */
}
.embla__slide {
    min-width: 0;
}

/* Text input label */
.float-label-input {
    margin: 28px 0;
}

.float-label-input:focus-within label,
.float-label-input input:not(:placeholder-shown) + label,
.float-label-input textarea:not(:placeholder-shown) + label {
    transform: translateY(-1.25rem) translateX(-1rem) scale(0.75);

    @apply border border-primary rounded-full text-black bg-white;
}
