@import 'tailwindcss';

@theme inline {
    --font-satoshiBold: var(--font-satoshi-bold);
}

.bg-widget {
    @apply bg-black/5 dark:bg-white/5 border border-black/5 dark:border-white/5;

    &:not(:has(.hover\:bg-widget)) {
        @apply !border-black/5 dark:!border-white/5;
    }
}

.hover\:bg-widget {
    @apply hover:bg-black/5 hover:dark:bg-white/5 border border-black/0 dark:border-white/0 hover:border-black/5 hover:dark:border-white/5;

    /* &:not(:has(.bg-widget)) {
		@apply border-black/0 dark:border-white/0;
	} */
}

.animate-res-fade-out {
    animation: resFadeOut 2s ease-out;
}

.animate-fade-in {
    animation: fadeIn 0.3s ease-out;
}

@keyframes resFadeOut {
    0%,
    66% {
        opacity: 1;
    }
    98%,
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Wrapper for consistent styling */
input[type='datetime-local'].ml-datetime {
    width: 100%;
    padding: 12px 14px;
    background: #202020;
    color: #fff;

    border: 1px solid #ffffff73;
    border-radius: 8px;

    font-size: 16px;
    font-family: inherit;

    outline: none;
    transition: border-color 0.2s ease, background 0.2s ease;
}

/* Focus state */
input[type='datetime-local'].ml-datetime:focus {
    border-color: #fff;
    background: #0a0a0a;
}

/* Calendar & time icon color */
input[type='datetime-local'].ml-datetime::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Makes icon white */
    cursor: pointer;
}
