@import 'tailwindcss';

@theme inline {
    --font-satoshiBold: var(--font-satoshi-bold);
}

.bg-widget {
    @apply bg-black/5 dark:bg-white/5 border border-black/5 dark:border-white/5;

    &:not(:has(.hover\:bg-widget)) {
        @apply !border-black/5 dark:!border-white/5;
    }
}

.hover\:bg-widget {
    @apply hover:bg-black/5 hover:dark:bg-white/5 border border-black/0 dark:border-white/0 hover:border-black/5 hover:dark:border-white/5;

    /* &:not(:has(.bg-widget)) {
		@apply border-black/0 dark:border-white/0;
	} */
}

.animate-res-fade-out {
    animation: resFadeOut 2s ease-out;
}

.animate-fade-in {
    animation: fadeIn 0.3s ease-out;
}

@keyframes resFadeOut {
    0%,
    66% {
        opacity: 1;
    }
    98%,
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
